#content{
    background-color: $bg_cards;
    display: flex;
    width: 100%;
    height: auto;

    aside{
        width: 20%;
        background-color: $optional;
        text-align: center;        
    }

    #cards{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        background-color: $bg_cards;
        
        .card{
            width: 18%;
            margin: 10px;
            img{
                width: 100%;
                height: 200px;
            }
            button{
                width: 100%;
                height: 30px;
            }
        }
    }   
}

@media screen and (max-width: 400px) {
    #content{
        height: auto;
        display: block;

        aside{
            width: 100%;
            height: auto;
            background-color: $optional;
            text-align: center;        
        }
        #cards{
            display: block; 
            text-align: center;
            .card{
                width: 95%;
            }
        }
    }

    
    
    
        

}
